<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div>
        <a href="{% url 'create-room' %}">create Room</a>
    </div>

    <div class="home-container">
        <!-- Left Sidebar -->
        <div>
                {% include 'topics_component.html' %}
        </div>

        <!-- Center Content -->
        <div>
            <h5>{{ room_count }} rooms available</h5>
            {% include 'feed_component.html' %}
        </div>
        <!-- Right Content -->
        <div>
            {% include 'activity_component.html' %}
        </div>
    </div>
</body>
</html>
